@page "/"

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">Filtre</div>
            <div class="card-body"></div>
            <div class="card-footer"></div>
        </div>
        <div class="card">
            <div class="card-header">51 exploitations à contrôler</div>
            <div class="card-body"></div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>