@page "/"

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Filtre</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-sm bg-gray-light" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <p>This is some content</p>
                <p>This is some content</p>
                <p>This is some content</p>
                <p>This is some content</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary"><i class="fas fa-save"></i> Enregistrer</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">51 exploitations à contrôler</h3>
            </div>
            <div class="card-body"></div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>