@page "/"

<div class="row">
    <div class="col-sm-12">
        <MandateList/>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Console.WriteLine("Executing OnInitialized Async from Index");
    }

}