@page "/"

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Filtre</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-sm bg-gray-light" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <p>This is some content</p>
                <p>This is some content</p>
                <p>This is some content</p>
                <p>This is some content</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary"><i class="fas fa-save"></i> Enregistrer</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">51 exploitations à contrôler</h3>
            </div>
            <div class="card-body">
                <div class="list-group">
                    <div id="" class="list-group-item list-group-item-yearly" href="#">
                        <a class="btn btn-default btn-sm float-right" href="#">
                            <i class="fas fa-arrow-right"></i><span class="sr-only">Naviguer vers le détail des mandats de l'exploitation</span>
                        </a>

                        <h4 class="list-group-item-heading mb-1">JU67090032 Fleury Jean-Marie</h4>
                        <p class="list-group-item-text mb-1">
                            <span><i class="far fa-envelope"></i> Grand-Rue 31, 2823 Courcelon</span>
                            <span class="ml-2"><i class="fas fa-tractor"></i> Exploitation à l’année</span>
                            <span class="ml-2"><i class="fas fa-at"></i> email@address.com</span>
                            <span class="ml-2"><i class="fas fa-mobile-alt"></i> +41 79 123 45 67</span>
                        </p>
                        @*<p class="list-group-item-text mb-1"></p>*@
                        <p class="mb-1">
                            <span class="badge badge-round bg-animal " title="Animaux >3Ugb >0.2Umos">UGB UMOS+</span> 
                            <span class="badge badge-round bg-biodiversity " title="Biodiversité Réseau">R</span> 
                            <span class="badge badge-round bg-biodiversity " title="Biodiversité Qualité II">Q2</span> 
                            <span class="badge badge-round bg-btsraus " title="SST">SST</span> 
                            <span class="badge badge-round bg-btsraus " title="SST Année suivante">SST An+1</span> 
                            <span class="badge badge-round bg-btsraus " title="SRPA">SRPA</span> 
                            <span class="badge badge-round bg-btsraus " title="SRPA Année suivante">SRPA An+1</span> 
                            <span class="badge badge-round bg-landscape " title="Contributions Paysage (plaine)">Paysage</span> 
                            <span class="badge badge-round bg-per " title="PER Grandes cultures">PER Agri</span> 
                            <span class="badge badge-round bg-per " title="PER Grandes cultures - année suivante">PER Agri An+1</span> 
                            <span class="badge badge-round bg-to3ha " title="Terres ouvertes >3Ha">TO >3Ha</span>
                        </p>
                        <div class="progress progress-tall mt-2 mb-2">
                            <div class="progress-bar p-1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                            <div class="progress-bar-text">
                                <span role="label">IPS Exigences de base (FALBRIARD * Jean-Michel)</span>
                                <span role="percent" class="ml-2">40%</span>
                                <span role="outcome" data-outcome-url="/Inspection/GetDynamicOutcome/79976" class="ml-2"></span>
                            </div>
                        </div>
                        <div class="progress progress-tall mt-2 mb-2">
                            <div class="progress-bar bg-gradient-success p-1" role="progressbar" aria-valuenow="100.00" aria-valuemin="0" aria-valuemax="100" style="width: 100.00%"></div>
                            <div class="progress-bar-text">
                                <span role="label">IPS Exigences de base (FALBRIARD * Jean-Michel)</span>
                                <span role="percent" class="ml-2">100%</span>
                                <span role="outcome" data-outcome-url="/Inspection/GetDynamicOutcome/79983" class="ml-2"><i class="far fa-thumbs-up"></i> Ok</span>
                                <span role="lock" class="ml-2"><i class="fas fa-lock"></i> Clôturé le 16.06.2020 11:20:49</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>