@using System.Reflection

<div class="float-right d-none d-sm-block">
    <b>version:</b> <small><i>@FileVersion, @BuildDate</i>   </small>
    @* ReSharper disable once ConditionIsAlwaysTrueOrFalse *@
    @if (UiServices.Environment.IsDebug)
    {
        <b>runtime:</b> <small><i>@runtime</i>   </small>
        <b>host:</b> <small><i>@host</i></small>
    }
</div>

<strong>&copy; @DateTime.Now.Year <a href="https://www.agridea.ch" target="_blank">Agridea</a></strong>

@code {
    [Parameter]
    public string FileVersion { get; set; }
    [Parameter]
    public string BuildDate { get; set; }

    string host = Environment.MachineName;
    string runtime = Assembly.GetExecutingAssembly().GetCustomAttribute<System.Runtime.Versioning.TargetFrameworkAttribute>()?.FrameworkName;
}
