<span><i class="far fa-envelope"></i> @Farm.Address</span>
<span class="ml-2"><i class="fas fa-tractor"></i> @Farm.FarmType</span>
<span class="ml-2"><i class="fas fa-at"></i> @Farm.Email</span>
<span class="ml-2"><i class="fas fa-mobile-alt"></i> @Farm.PhoneNumber</span>

@code {
    [Parameter]
    public AcordaControlOffline.Shared.ApplicationServices.ViewModel.FarmBase Farm { get; set; }
}
