@inherits LayoutComponentBase

<div class="wrapper">
    <header class="main-header">
        @*@Html.Partial("_Logo")
        @Html.Partial("_HeaderNavbar", headerNavBarViewModel)*@
    </header>

    <aside class="main-sidebar">
        @*@Html.Partial("_SideBar", sideBarViewModel)*@
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            @*@Html.Partial("_ContentHeader")*@
        </section>
        <section class="content">
            @Body
        </section>
    </div>

    <footer class="main-footer">
        <AppFooter FileVersion="some-file-version" BuildDate="some-build-date" />
    </footer>
</div>