@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>*@

<div class="wrapper">
    <header class="main-header">
        @*@Html.Partial("_Logo")
        @Html.Partial("_HeaderNavbar", headerNavBarViewModel)*@
    </header>

    <aside class="main-sidebar">
        @*@Html.Partial("_SideBar", sideBarViewModel)*@
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            @*@Html.Partial("_ContentHeader")*@
        </section>
        <section class="content">
            @Body
        </section>
    </div>

    <footer class="main-footer">
        <AcFooter FileVersion="srser" BuildDate="dsdgfdgfg" />
    </footer>
</div>