@using Agridea.ProductInfo
@using Blazored.LocalStorage
@using Blazored.Toast.Configuration
@using Agridea.Acorda.AcordaControlOffline.Client.Blazor.Config

@inherits LayoutComponentBase
@inject IJSRuntime Js
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject AppConfiguration Config 

<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-dark navbar-success">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link" href="#" @onclick='() => Navigation.NavigateTo(Config.BaseUrl + "/")'><i class="fas fa-home"></i></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            @if (updateAvailable)
            {
                <li class="nav-item">
                    <button class="nav-link btn btn-info" @onclick="() => updateAppModal.Show()" ><i class="fas fa-info-circle"></i> Mise à jour disponible...</button>
                </li>
            }
            <UserDisplay />
            <CantonDisplay />
        </ul>
    </nav>

    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="#" class="brand-link navbar-success" @onclick='() => Navigation.NavigateTo(Config.BaseUrl + "/")'>
            <img src="logo.png" alt="AcordaControl logo" class="brand-image img-rounded elevation-2" style="margin-top: -1px; margin-left: 9px;" />
            <span class="brand-text font-weight-normal"><b>Acorda</b>Control</span>
        </a>
        <div class="sidebar">
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a type="button" @onclick='() => Navigation.NavigateTo(Config.BaseUrl + "/Settings")' class="nav-link">
                            <i class="nav-icon fas fa-cog"></i> 
                            <p>Options</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Mandats de contrôle</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                @Body
            </div>
        </section>
    </div>

    <footer class="main-footer">
        <AppFooter FileVersion="@ProductInfo.Version" BuildDate="@ProductInfo.BuildDate" />
    </footer>
</div>

<Blazorise.Modal @ref="@updateAppModal">
    <Blazorise.ModalBackdrop />
    <Blazorise.ModalContent IsCentered="true">
        <Blazorise.ModalHeader>
            <Blazorise.ModalTitle>Mise à jour de l'application</Blazorise.ModalTitle>
            <Blazorise.CloseButton Clicked="() => updateAppModal.Hide()" />
        </Blazorise.ModalHeader>
        <Blazorise.ModalBody>
            <div class="alert alert-danger" role="alert">
                <u>Attention</u>: La mise à jour nécessite que tous les mandats téléchargés soient <strong>renvoyés</strong> ou <strong>effacés</strong>.
                Si vous poursuivez, ils seront <u>automatiquement effacés</u>. Pour renvoyer des mandats avant de faire la mise à jour, cliquer sur <strong>Annuler</strong>
            </div>
        </Blazorise.ModalBody>
        <Blazorise.ModalFooter>
            <button @onclick="Reset" data-dismiss="modal" type="button" class="btn btn-primary mb-1">
                <i class="fas fa-download"></i> J'ai compris, Mettre à jour
            </button>
            <button @onclick="() => updateAppModal.Hide()" type="button" class="btn btn-default mb-1">Annuler, je souhaite d'abord renvoyer des mandats</button>
        </Blazorise.ModalFooter>
    </Blazorise.ModalContent>
</Blazorise.Modal>

<BlazoredToasts Position="ToastPosition.BottomRight"
                RemoveToastsOnNavigation="true"
                Timeout="10"/>

@code {

    bool updateAvailable;
    JsInteropActionProxy newVersionAvailableProxy;
    Blazorise.Modal updateAppModal;

    protected override void OnInitialized()
    {
        Console.WriteLine("Executing OnInitialized from MainLayout");
        newVersionAvailableProxy = new JsInteropActionProxy(NewVersionAvailable);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Js.InvokeVoidAsync(JsInterop.InitAdminLte);
            await Js.InvokeVoidAsync(JsInterop.RegisterNewAppVersionCallback,
                                     DotNetObjectReference.Create(newVersionAvailableProxy));
        }
    }

    void NewVersionAvailable()
    {
        Console.WriteLine("A new version of the app is available");
        updateAvailable = true;
        StateHasChanged();
    }

    /// <summary>
    /// This is a wrong approach => to ensure data-consistency, all local data must be deleted, BUT we must let the
    /// user do it herself, either deleting of sending local mandates. We should block the update until all local
    /// mandates have been (knowingly) removed from local storage by the user.
    /// </summary>
    async void Reset()
    {
        await LocalStorage.ClearAsync();
        Navigation.NavigateTo(Config.BaseUrl + "/", true);
    }

}