@import url('blazor.css');
@import url('../lib/font-awesome/css/all.min.css');
@import url('../lib/admin-lte/css/adminlte.min.css');
@import url('../lib/placeholder-loading/dist/css/placeholder-loading.min.css');

/* Default font */
option.fa-font-family {
    font-family: 'FontAwesome', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

/* brand-link color fix on hover */
[class*=sidebar-dark] .brand-link:hover {
    color: #ffffff;
}

/* stacked icon adjust size */
.stacked-icon-button {
    font-size: 0.66rem;
}

/* progress-bar overrides
-------------------------------------------------------------*/
.progress .progress-bar-text [role="label"] {
    font-weight: bold;
    padding-left: 5px;
}

.progress .progress-bar[aria-valuenow="0"] + .progress-bar-text [role="label"],
.progress .progress-bar[aria-valuenow="0"] + .progress-bar-text [role="outcome"],
.progress .progress-bar[aria-valuenow="0"] + .progress-bar-text [role="percent"],
.progress .progress-bar:not([aria-valuenow="0"]) + .progress-bar-text [role="lock"] {
    color: #555555;
}

.progress .progress-bar:not([aria-valuenow="0"]) + .progress-bar-text [role="label"],
.progress .progress-bar:not([aria-valuenow="0"]) + .progress-bar-text [role="outcome"],
.progress .progress-bar:not([aria-valuenow="0"]) + .progress-bar-text [role="percent"],
.progress .progress-bar:not([aria-valuenow="0"]) + .progress-bar-text [role="lock"] {
    color: #f5f5f5;
}

.progress.progress-tall {
    height: 1.2rem;
    border-radius: .25rem;
}

.progress .progress-bar-text {
    position: absolute;
}

/* badge colors for farm indicators and consultation
-------------------------------------------------------------*/
.bg-biodiversity {
    background-color: orange;
}

.bg-biodiversity-light {
    background-color: #f9c770;
}

.bg-organic {
    background-color: #5cb85c;
}

.bg-per {
    background-color: chartreuse;
}

.bg-animal {
    background-color: orangered;
}

.bg-btsraus {
    background-color: gray;
}

.bg-landscape {
    background-color: gray;
}

.bg-efficiency {
    background-color: coral;
}

.bg-extenso {
    background-color: gray;
}

.bg-plvh {
    background-color: ivory;
    color: #777777 !important;
}

.bg-summering {
    background-color: orange;
}

.bg-to3ha {
    background-color: gray;
}

.bg-beesfish {
    background-color: hotpink
}

.bg-cqpcbe {
    background-color: darkmagenta;
}

.bg-eye {
    background-color: #f9c770;
}

.badge.with-border {
    border: 1px solid #777;
}

.badge.false {
    background-color: #e8e8e8 !important;
    color: #b0b0b0 !important;
}

.badge.with-hover:hover {
    cursor: pointer;
}

.badge.big {
    font-size: 20px;
}

.badge.badge-round {
    border-radius: 1rem;
}

.badge-label {
    font-size: 0.75rem;
    font-weight: bold;
}


/* List group item colors and overrides
-------------------------------------------------------------*/
.list-group-item .list-group-item-heading {
    font-size: 1.25rem;
}

.list-group-item .list-group-item-text {
    font-size: 1rem;
}

.list-group-item:hover, .list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #fff !important;
}

.list-group-item.datatoggle, .list-group-item-text.datatoggle {
    cursor: pointer;
}

.list-group-item.list-group-item-yearly {
    background-color: #d0ffb8;
}

.list-group-item.list-group-item-production-unit {
    background-color: aquamarine;
}

.list-group-item.list-group-item-summering {
    background-color: lightpink;
}

.list-group-item.list-group-item-community {
    background-color: moccasin;
}

.list-group-item.list-group-item-per-partial-community {
    background-color: cornsilk;
}

.list-group-item.list-group-item-disabled {
    background-color: #f0f0f0;
    color: #a0a0a0;
}

.list-group-item.list-group-item-hobby-breeding {
    background-color: #e8e8e8
}

.list-group-item.list-group-item-individual {
    background-color: #bf7717;
}

.list-group-item.list-group-item-corporation {
    background-color: #ff9f1f;
}

.striped {
    background: repeating-linear-gradient( -45deg, #ddd, #ddd 10px, #fff 10px, #fff 20px);
    color: #888;
}

/* Buttons
-------------------------------------------------------------*/
.btn-circle {
    width: 38px;
    height: 38px;
    line-height: 38px; /* adjust line height to align vertically*/
    padding: 0;
    border-radius: 50%;
}

.btn-circle.btn-circle-sm {
    width: 34px;
    height: 34px;
    line-height: 34px; /* adjust line height to align vertically*/
}


/* rotating chevrons
-------------------------------------------------------------*/
.rotate {
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.rotate.right {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* Misc. utilities
-------------------------------------------------------------*/
.clearleft {
    clear: left;
}
.clearright {
    clear: right;
}
.clearboth {
    clear: both;
}

/* SignaturePad overrides 
-------------------------------------------------------------*/
.signature-pad--actions {
    justify-content: normal !important;
}